@page
@model ChangePasswordModel
@{
    ViewData["Title"] = @CustomLocalizerFactory.HtmlIdentityLocalizer["Change password"];
    ViewData[LeaveManagement.ManageNavPages.ActivePageSection] = LeaveManagement.ManageNavPages.ChangePassword;
}
<div class="login-page">
    <div class="login-box">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">@CustomLocalizerFactory.HtmlIdentityLocalizer["You are only one step a way from your new password, change your password now."]</p>

                <form id="change-password-form" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="Input.OldPassword" class="form-control" placeholder="@CustomLocalizerFactory.HtmlIdentityLocalizer["Password"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.NewPassword" class="form-control" placeholder="@CustomLocalizerFactory.HtmlIdentityLocalizer["New password"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@CustomLocalizerFactory.HtmlIdentityLocalizer["Confirm password"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">@CustomLocalizerFactory.HtmlIdentityLocalizer["Change password"]</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}