@model IEnumerable<LeaveManagement.ViewModels.Employee.EmployeePresentationDefaultViewModel>
@{
    ViewData["Title"] = Localizer["Allocate by employees"];
}

    <h1>@Localizer["Allocate by employees"]</h1>

<table class="table dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDate)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="AllocateByEmployee" asp-route-employeeId="@item.Id">
                <i class="fa fa-calendar"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Allocate leave"]</a> 

                <a class="btn btn-outline-success" asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-userId="@item.Id" 
                   title="@Localizer["Edit user"]">
                    <i class="fa fa-user"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
