@model LeaveManagement.ViewModels.LeaveType.LeaveTypeEditionViewModel

@{
    ViewData["Title"] = LeaveManagementLocalizerFactory.CommandsLocalizer["Create"];
}

<h1>@LeaveManagementLocalizerFactory.CommandsLocalizer["Create"]</h1>

<h4>@Localizer["Create leave type"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTypeName" class="control-label"></label>
                <input asp-for="LeaveTypeName" class="form-control" />
                <span asp-validation-for="LeaveTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@LeaveManagementLocalizerFactory.CommandsLocalizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <partial name="_ProblemPartial" />
</div>

@if (!String.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div>
        <span class="alert-danger">@ViewBag.Message</span>
    </div>
}

<div>
    <a asp-action="Index">@LeaveManagementLocalizerFactory.CommandsLocalizer["Back to List"]</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
