
@model IEnumerable<LeaveManagement.ViewModels.LeaveType.LeaveTypeNavigationViewModel>

@{
    ViewData["Title"] = Localizer["Index"];
}

<h1>@Localizer["Index"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Create New"]</a>
</p>
<table class="table dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success col-md-3" asp-route-id="@item.Id" 
                       title="@LeaveManagementLocalizerFactory.CommandsLocalizer["Edit"]">
                        <i class="fa fa-pencil"></i> 
                    </a>
                    <a asp-action="Details" class="btn btn-info col-md-3" asp-route-id="@item.Id"
                       title="@LeaveManagementLocalizerFactory.CommandsLocalizer["Details"]">
                        <i class="fa fa-info"></i> 
                    </a>
                    <a asp-action="Delete" class="btn btn-danger col-md-3" asp-route-id="@item.Id" 
                       onclick="return confirm('@LeaveManagementLocalizerFactory.CommandsLocalizer["Confirm deleting?"]')"
                       title="@LeaveManagementLocalizerFactory.CommandsLocalizer["Delete"]">
                        <i class="fa fa-trash"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Styles{
    <partial name="_DataTablesStyles" />
}
@section Scripts{
    <partial name="_DataTablesScripts" />
}
