@using System.Globalization;
@model IEnumerable<LeaveManagement.ViewModels.LeaveType.LeaveTypeNavigationViewModel>

@{
    ViewData["Title"] = Localizer["Index"];
}

<h1>@Localizer["Index"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Create New"]</a>
</p>
<table class="table dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.Id">
                        <i class="fa fa-pencil"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Edit"]
                    </a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">
                        <i class="fa fa-info"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Details"]
                    </a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('@LeaveManagementLocalizerFactory.CommandsLocalizer["Confirm deleting?"]')">
                        <i class="fa fa-trash"></i> @LeaveManagementLocalizerFactory.CommandsLocalizer["Delete"]
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <environment include="Development">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    </environment>
    <script type="text/javascript" src="~/lib/dataTables/lang/@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLower()).js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTable').DataTable({
                "language": dataTableLanguageOptions
            });
        });
    </script>
}
@section Styles{
    <environment include="Development">
        <link href="~/lib/dataTables/datatables.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    </environment>
}
