@model IEnumerable<LeaveManagement.ViewModels.LeaveType.LeaveTypeNavigationViewModel>

@{
    ViewData["Title"] = Localizer["Index"];
}

<h1>@Localizer["Index"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">@CommandLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="VulnerableEdit" asp-route-id="@item.Id">@CommandLocalizer["Vulnerable edit"]</a>|
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        @CommandLocalizer["Edit"]
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @CommandLocalizer["Details"]
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="confirm('@CommandLocalizer["Confirm deleting?"]')">@CommandLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
