@model LeaveManagement.ViewModels.LeaveType.LeaveTypeEditionViewModel

@{
    ViewData["Title"] = LeaveManagementLocalizerFactory.CommandsLocalizer["Vulnerable Edit"];
}

<h1>@LeaveManagementLocalizerFactory.CommandsLocalizer["Vulnerable Edit"]</h1>
<h4>@Localizer["LeaveTypeCreation"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VulnerableEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated"/>
            <div class="form-group">
                <label class="control-label">@Localizer["LeaveTypeName"]</label>
                <input asp-for="LeaveTypeName" class="form-control" />
                <span asp-validation-for="LeaveTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@LeaveManagementLocalizerFactory.CommandsLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@LeaveManagementLocalizerFactory.CommandsLocalizer["Back to List"]</a>
</div>

