@model LeaveManagement.ViewModels.Employee.EmployeeCreationVM
@inject ILeaveManagementCustomLocalizerFactory CustomLocalizerFactory

@{
    Microsoft.Extensions.Localization.IStringLocalizer RegisterLocalizer = CustomLocalizerFactory.StringIdentityLocalizer;
    ViewData["Title"] = Localizer["Add new employee"];
}

<div class="register-page hold-transition" style="min-height: 586.391px;">
    <div class="register-box">
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">@RegisterLocalizer["Register a new membership"]</p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-action="@ViewBag.Action">
                    <span asp-validation-for="UserName" class="text-danger d-block"></span>
                    <div class="input-group mb-2">
                        <input asp-for="UserName" class="form-control" placeholder="@Html.DisplayNameFor(Model=>@Model.UserName)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-user"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Email" class="text-danger d-block"></span>
                    <div class="input-group mb-2">
                        <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Email)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Password)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.ConfirmPassword)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-lock"></span>
                            </div>

                        </div>
                    </div>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="Title" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.Title)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-id-card"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.FirstName)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.LastName)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="DateOfBirth" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.DateOfBirth)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="EmploymentDate" class="text-danger"></span>
                    <div class="input-group mb-2">
                        <input asp-for="EmploymentDate" class="form-control" placeholder="@Html.DisplayNameFor(Model=>Model.EmploymentDate)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <select asp-items="Model.RolesList" asp-for="Roles" class="form-control" multiple="multiple"
                                placeholder="@Html.DisplayNameFor(Model=>Model.RolesList)">
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fa fa-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="AcceptContract">
                                <label for="agreeTerms">
                                    @CustomLocalizerFactory.HtmlIdentityLocalizer["I agree to the <a href=\"#\">terms</a>"]
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">@RegisterLocalizer["Register"]</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rolesInput').multiselect();
        });
    </script>
}

