@model LeaveManagement.ViewModels.Employee.EmployeeCreationVM
@inject ILeaveManagementCustomLocalizerFactory CustomLocalizerFactory

@{
    Microsoft.Extensions.Localization.IStringLocalizer RegisterLocalizer = CustomLocalizerFactory.StringIdentityLocalizer;
    ViewData["Title"] = Localizer["Add new employee"];
}
<div asp-validation-summary="All"></div>
<form asp-action="@ViewBag.Action">
    <div class="form-row">
        <div class="col-md-5">
            <h4>@RegisterLocalizer["Account"]</h4>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="UserName" placeholder="@Html.PromptFor(m=>m.UserName)">
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.UserName)">
                            <span class="fa fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="UserName" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="Email" placeholder="@Html.PromptFor(m=>m.Email)">
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Email)">
                            <span class="fa fa-at"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="Password" placeholder="@Html.PromptFor(m=>m.Password)">
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Password)">
                            <span class="fa fa-user-secret"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger d-block"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="@Html.PromptFor(m=>m.ConfirmPassword)">
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.ConfirmPassword)">
                            <span class="fa fa-user-secret"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
            </div>

        </div>
        <div class="col-md-7">
            <h4>@RegisterLocalizer["Profile"]</h4>
            <div class="form-row">
                <div class="col-md-3 col-lg-3 col-sm-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="Title" placeholder="@Html.PromptFor(m=>m.Title)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.Title)">
                                    <span class="fa fa-address-card"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-8">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="FirstName" placeholder="@Html.PromptFor(m=>m.FirstName)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.FirstName)">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-lg-5 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="LastName" placeholder="@Html.PromptFor(m=>m.LastName)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.LastName)">
                                    <span class="fa fa-pencil"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-lg-12">
                    <span asp-validation-for="Title" class="text-danger d-block"></span>
                    <span asp-validation-for="FirstName" class="text-danger d-block"></span>
                    <span asp-validation-for="LastName" class="text-danger d-block"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="DateOfBirth" placeholder="@Html.PromptFor(m=>m.DateOfBirth)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.DateOfBirth)">
                                    <span class="fa fa-birthday-cake"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="DateOfBirth" class="text-danger d-block"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="EmploymentDate" placeholder="@Html.PromptFor(m=>m.EmploymentDate)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.EmploymentDate)">
                                    <span class="fa fa-building"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="EmploymentDate" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" asp-for="PhoneNumber" placeholder="@Html.PromptFor(m=>m.PhoneNumber)">
                            <div class="input-group-append">
                                <div class="input-group-text" title="@Html.DescriptionFor(m=>m.PhoneNumber)">
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="PhoneNumber" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="AcceptContract" placeholder="@Html.PromptFor(m=>m.AcceptContract)" e>
                            <label class="form-check-label" asp-for="AcceptContract"></label>
                        </div>
                        <span asp-validation-for="AcceptContract" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    <select asp-items="Model.RolesList" asp-for="Roles" class="form-control" multiple="multiple"
                            placeholder="@Html.DisplayNameFor(Model=>Model.RolesList)">
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text" title="@Html.DescriptionFor(m=>m.RolesList)">
                            <span class="fa fa-4x fa-users"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}