@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    IdentityUser AppUser = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    IList<string> UserRoles = AppUser != null ? await UserManager.GetRolesAsync(AppUser) : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Leave management"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <environment include="Developement">
        <link href="~/lib/fontawesome47/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Developement">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@LeaveManagementLocalizerFactory.MenuLocalizer["Leave management"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="LeaveAllocation" asp-action="UserLeaveAllocationsForPeriod"
                               asp-route-showRequestButton="true" asp-route-userId="@null">
                                @LeaveManagementLocalizerFactory.MenuLocalizer["Your leave allocations"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="LeaveRequests" asp-action="Create">
                                @Localizer["Request leave"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="LeaveRequests" asp-action="EmployeeRequests">
                                @Localizer["My requests"]
                            </a>
                        </li>
                        @if (AppUser != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @LeaveManagementLocalizerFactory.MenuLocalizer["Manage"]
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (await UserManager.IsPrivelegedUser(AppUser))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="LeaveTypes" asp-action="Index">
                                            @LeaveManagementLocalizerFactory.MenuLocalizer["Edit leave types"]
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="LeaveAllocation" asp-action="AllocateByLeaveTypes">
                                            @Localizer["Allocate leaves"]
                                        </a>
                                    }
                                    @if (AppUser != null)
                                    {

                                        <a class="dropdown-item" asp-controller="LeaveAllocation" asp-action="UserLeaveAllocationsForPeriod">
                                            @LeaveManagementLocalizerFactory.MenuLocalizer["Browse your current allocations"]
                                        </a>

                                    }
                                    @if (UserRoles?.Contains(LeaveManagement.UserRoles.Administrator.ToString()) ?? false)
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="LeaveRequests" asp-action="ModeratorIndex">
                                            @LeaveManagementLocalizerFactory.MenuLocalizer["Leave requests"]
                                        </a>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @Localizer["Leave management"] <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
